$panel-layout-margin: 4rem;

$engine-sidebar-size: 20rem;
$engine-viewport-size: calc(100vw - $panel-layout-margin - ($engine-sidebar-size + ($panel-layout-margin / 2)));

.engine
{
    width: $engine-viewport-size;
    height: calc(100vh - $panel-layout-margin);

    position: absolute;
    top: calc($panel-layout-margin / 2);
    left: calc($panel-layout-margin / 2);
}

.engine-sidebar
{
    width: $engine-sidebar-size;
    height: calc(100vh - $panel-layout-margin);
    position: absolute;
    top: calc($panel-layout-margin / 2);
    right: calc($panel-layout-margin / 2);
}